html {
    font-size: 62.5%;
    font-family: sans-serif;
    width: 100svw;
    height: 100svh;
}

* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

body {
    padding: 1rem 1rem 3rem 1rem;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    overflow: hidden;
}

.control {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.control-kind {
    width: 5rem;
    font-weight: bold;
}

input[type=checkbox],
input[type=radio] {
    margin: 0 .3rem;
}

#date,
#time {
    display: inline-block;
}

option {
    font-size: 1.6rem;
}

#grid {
    flex: 1;
}
